#stress-responses {
  display: none;
}

#coping-responses {
  display: none;
}

#positive-response {
  display: none;
}

#neutral-response {
  display: none;
}

#warning-response {
  display: none;
}
